.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    background: #993300;
    border-collapse: collapse;
}
.table td {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: #ffcc99;
}

.table td img {
    width: 80%;
    height: auto;
}

td.field-td,
tr.field-tr {
    background: #663300;
}

table tr:not(.field-tr):nth-child(2n) td:not(.field-td):nth-child(2n),
table tr:not(.field-tr):nth-child(2n+1) td:not(.field-td):nth-child(2n+1) {
    background: #ffcc99;
}

svg {
    width: 60px;
    height: 60px;
}
img {
    width: 60px;
    height: 60px;
}

.selectedItem {
    background: #b5daa4ff !important;
}

.possibleStep {
    background: #d8e0ba !important;
}
